@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --main-colour: #60a5fa;
  --light-blue: #93c5fd;
  --light-gray-bg: #eff6ff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--light-gray-bg);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 48px;
  padding: 18px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.128);
  z-index: 10;
  background-color: white;
}

a.github > img {
  transition: transform 1s ease-in-out;
}

a.github > img:hover {
  transform: rotate(360deg);
}

#arena {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards-container {
  display: flex;
  justify-content: space-between;
}

.boards-container {
  position: relative;
  display: flex;
  gap: 60px;
}

.mask.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.player-board,
.computer-board {
  width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.055);
}

.grid-cell {
  border: 1px solid #2563eb;
}

.grid-cell:hover {
  background-color: rgb(174, 174, 174);
  cursor: crosshair;
}

@media only screen and (max-width: 1100px) {
  .boards-container {
    flex-direction: column;
  }
}
